    <div class="row">
        <div class="col-xs-8">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Module</th>
                                    <th>Controller</th>
                                    <th>Action</th>
                                    <th>Title</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="resource_list">
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <!-- /.panel -->
    </div>
