<div id="page-wrapper">
    <div class="col-xs-12">
        <h1 class="page-header">角色管理</h1>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>角色名</th>
                                <th>管理员</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach from=$roles item=role key=key}
                            <tr class="">
                                <td>{$role.pk_role_id}</td>
                                <td>{$role.name}</td>
                                <td>{$role.admin_email}</td>
                                <td>
                                    <a href="/Privilege/Role/assignRoleUser/?role_id={$role.pk_role_id}">分配用户</a> |  
                                    <a href="/Privilege/Role/roleUser/?role_id={$role.pk_role_id}">用户列表</a> | 
                                    <a href="/Privilege/Role/assignRolePriv/?role_id={$role.pk_role_id}">分配权限</a> | 
                                    <a href="/Privilege/Role/showRolePriv/?role_id={$role.pk_role_id}">查看权限</a> | 
                                    <a href="/Privilege/Role/editRole/?role_id={$role.pk_role_id}">修改</a> |  
                                    <a href="/Privilege/Role/delRole/?role_id={$role.pk_role_id}">删除</a>  
                                </td>
                            </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
<script src="/js/checkform.js"></script>
